body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  text-align: center;
}

button {
  width: 85px;
}

main {
  display: grid;
  justify-items: center;
}

main > div:nth-child(odd) {
  text-align: center;
  padding: 30px 0;
}

main .header input {
  margin-right: 10px;
}

h2 {
  text-align: center;
}

main .player-name {
  padding: 0 5px;
}

main .footer > button:first-child {
  margin-right: 20px;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  /* border: 1px solid gray; */
}

.board {
  border-top: 1px gray solid;
  border-left: 1px gray solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  font-family: Arial, Helvetica, sans-serif;
  height: 10%;
  width: 10%;
  scale: 8;
  
}

 /* .cell {
  
  scale: 110; /* to center X */

.right-border {
  border-right: 1px gray solid;
}

.board.bottom-row {
  border-bottom: 1px gray solid;
}
