body {
  height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  justify-content: center;
  height: 100%;
}

.grid div {
  border: 1px black solid;
}
