body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  justify-items: center;
}

main {
  display: grid;
}

main > div:nth-child(odd) {
  /* justify-self: center; */
  text-align: center;
  padding: 30px 0;
}

main .header input {
  margin-right: 10px;
}

main h2 {
  text-align: center;
}

main .footer > button:first-child {
  margin-right: 20px;
  padding: 0 25px;
  /* background-color: blue; */
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  /* border: 1px solid gray; */
}

.board {
  position: relative;
  border-top: 1px gray solid;
  border-left: 1px gray solid;
}

 /* .board .board {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  scale: 110; /* to center X */

.right-border {
  border-right: 1px gray solid;
}

.board.bottom-row {
  border-bottom: 1px gray solid;
}
